.navbar{
   display: flex;
   align-items: center;
   justify-content: space-between;
   background-color: darkcyan;
   padding: 10px 20px;
}

.navbar-logo{
    color: aquamarine;
    font-size: 26px;
    font-weight: bold;
}

.navbar-links ul{
    display: flex;
    list-style: none;
    gap: 40px;
}

.navbar-links ul a{
    text-decoration: none;
    color: aquamarine;
    font-size: 18px;
}

.contador{
    color: aquamarine;
    font-size: 18px;
}